---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---
<Layout title="Welcome to Astro.">
  <Header active="BIO"></Header>
  <section>
    <img src="/sebaraw/aboutme.jpeg" alt="About me">
    <div class="text">
      <p>
        Soy un cineasta apasionado, con experiencia destacada en la creación de contenido visual impactante, especialmente en el ámbito de las redes sociales. He liderado exitosas campañas publicitarias en televisión y he desarrollado estrategias innovadoras que han aumentado la visibilidad de las marcas. Además, he dirigido series de entrevistas y tengo habilidades para trabajar bajo presión y colaborar en equipos diversos. Me comprometo con la excelencia visual y narrativa, y estoy emocionado por la oportunidad de contribuir al éxito de nuevos proyectos.
      </p>

      <small>Sebastián Pérez Delfino</small>
    </div>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    padding: 100px 0px;
    gap: 24px;
    box-sizing: border-box;
  }

  section img {
    max-width: 800px;
    transform: perspective(800px) rotateY(-8deg);
    transition: transform 1s ease 0s;
    border-radius: 24px;
  }

  section img:hover {
    transform: perspective(800px) rotateY(4deg);
  }

  section .text {
    padding: 12px;
  }

  section .text small {
    opacity: .3;
    float: right;
    margin-top: 12px;
  }

  section p {
    opacity: .7;
    margin: 8px;
    text-align: center;
    text-wrap: pretty;
    padding: 0px 24px;
  }
</style>

